:root {
    --transparent-grey: rgba(161, 190, 217, 0.661); 
}

body {
    background-image: url(../assets/destination/background-destination-desktop.jpg); 
    background-position: fixed;
}

main {
    margin-top: 5%;
    margin-left: 10%;
}

.number {
    color: var(--transparent-grey);
}

#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5%;
    margin-left: 5%;
}

.text {
    margin-top: 5%;
    margin-right: 25%;
    color: var(--transparent-grey);
}

.planet-names-container {
    position: absolute;
    right: 13.25%;
    display: flex;
}

button {
    border: none;
    background-color: transparent;
    margin-right: 3rem;
    font-size: 1.25rem;
    color: var(--transparent-grey);
    cursor: pointer;
}

h2 {
    font-size: 7rem;
    margin: 0;
    color: white;
}

.trait {
    color: rgb(255, 255, 255);
    height: 10px;
}

.planet-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.information-text {
    color: white;
    font-size: 1.75rem;
    margin: 0;
}



@media screen and (max-width:900px) {
    body {
        background-image: url(../assets/destination/background-destination-tablet.jpg);
    }
}



@media screen and (max-width:550px) {
    body {
        background-color: url(../assets/destination/background-destination-mobile.jpg);
    }
}