body {
    background-image: url(../assets/technology/background-technology-desktop.jpg); 
    background-position: fixed;
}



@media screen and (max-width:900px) {
    body {
        background-image: url(../assets/technology/background-technology-tablet.jpg);
    }
}



@media screen and (max-width:550px) {
    body {
        background-color: url(../assets/technology/background-technology-mobile.jpg);
    }
}